body{
  background-color: #3f51b5;
  color: white;
}

/*Styling of header and all elements therewithin*/

header {
  margin-top: 2.5em;
  margin-left: 2.3em;
  margin-right: 2.3em;
}

/*Styling for logo*/

.Logo {
  font-family: 'Orbitron';
  text-align: center;
  font-size: 60px;
}

/*Styling for link overlaying logo*/

a {
  color: inherit;
  text-decoration: none;
}

/*Styling for box containing hearts and time*/

.heartTime {
  margin-top: 1.2em;
}

.hearts {
  display: inline-block;
  font-size: 12px;
}

.fa-heart{
  font-size: 0.01em;
}

.fa-heart-o{
  font-size: 2px;
}

.time {
  float: right;
  font-family: Arial, sans-serif;
  text-align: right;
}

/*Styling for each individual card*/

.card {
  width: 155px;
  height: 155px;
  border-radius: .5em;
  background: #7986cb;
  display: inline-block;
  transition: background .5s, color .5s,
  -webkit-transform .5s;
}

/*styling for the div containing individual cards*/

.cardDiv {
  display: inline;
  text-align: center;
  color: transparent;
}

/*Styling for the icons themselves*/

.fa-2x {
  padding-top: 60px;
}

/*Styling for the checkb1ox that covers the card*/
input {
  display: none;
}

/*Style for when the checkbox (card) is checked*/
input:checked +.card {
  -webkit-transform: rotateY(180deg);
  color: white;
}

/*Styling for the top row of cards*/

.topCardRow {
  margin-left:2.3em;
  margin-right:2.3em;
  margin-top:2.3em;
}

/*Styling for the middle rows of cards*/

.cardRow {
  margin-top: .3em;
  margin-left:2.3em;
  margin-right:2.3em;
  margin-bottom: .3em;
}

/*Styling for the bottom row of cards*/

.bottomCardRow {
  margin-left:2.3em;
  margin-right:2.3em;
  margin-bottom:2.3em;
}
