*{
  border-style: solid;
}

body{
  /*background-color: #3f51b5;*/
}

/*Styling of header and all elements therewithin*/

header {
  margin-top: 2.3em;
  margin-left: 2.3em;
  margin-right: 2.3em;
}
h2 {
  margin-top: 2em;
}
.time {
  margin-left: 50em;
  font-family: Arial, sans-serif;
}
.hearts {
  display: inline-block;
}
.Logo {
  font-family: 'Orbitron';
  text-align: center;
  font-size: 65px;
}

/*Styling for each individual card*/

.card {
  width: 155px;
  height: 155px;
  border-radius: .5em;
  background: #7986cb;
  display: inline-block;
  transition: background 1s,
  -webkit-transform 1s;
}

/*Styling for the checkb1ox that covers the card*/
input {
  width: 120px;
  height: 120px;
  display: none;
}

/*Style for when the checkbox (card) is checked*/
input:checked +.card {
  -webkit-transform: rotateY(180deg);
}

/*Styling for the row of cards*/

.cardRow1 {
  margin-left:2.3em;
  margin-left:2.3em;
  margin-top:2.3em;
}
