body{
  background-color: #3f51b5;
  color: white;
}

/*Styling of header and all elements therewithin*/

header {
  margin-top: 3.2em;
  width: 94%;
  margin-left: 3%;
  margin-bottom:3.4em;
}

/*Styling for logo*/

.Logo {
  font-family: 'Orbitron';
  text-align: center;
  font-size: 60px;
}

/*Styling for link overlaying logo*/

a {
  color: inherit;
  text-decoration: none;
}

/*Styling for box containing hearts and time*/

.heartTime {
  margin-top: .6em;
}

.hearts {
  font-family: Arial, sans-serif;
  display: inline-block;
  font-size: 12px;
}

.fa-heart{
  font-size: 0.01em;
}

.fa-heart-o{
  font-size: 2px;
}

.gameClock {
  float: right;
  font-family: Arial, sans-serif;
  text-align: right;
}

/*Styling for the grid containing the cards*/

.cardGrid {
  width: 94%;
  margin-left: 3%;
  margin-bottom:2em;
}

/*styling for the div containing individual cards*/

/*.cardDiv {
  display: inline-block;
}*/

/*Styling for each individual card*/

.card {
  width: 155px;
  height: 155px;
  margin-bottom:2px;
  margin-right:-2px;
  border-radius: .5em;
  background: #7986cb;
  display: inline-block;
  text-align: center;
  color: transparent;
  transition: color .4s, -webkit-transform .5s;
}

/*Style for when the checkbox (card) is clicked*/
.cardFlip {
  -webkit-transform: rotateY(180deg);
  color: white;
}

/*Styling for the icons themselves*/

.fa-2x {
  padding-top: 60px;
  /*color: inherit;*/
}
