body {
  background-color: #348b9e;
  color: white;
}

/*Styling for logo*/

.newGameLogo {
  font-family: 'Orbitron';
  text-align: center;
  margin-top: 2.4em;
  margin-bottom: .3em;
  font-size: 4em;
}

/*Styling for 'NEW GAME'*/

h2 {
  font-family: Arial, sans-serif;
  font-size: 2em;
  text-align: center;
  margin-bottom: 1em;
}

/*Styling for Easy/Hard buttons*/

h3 {
  font-size: 1em;
  font-family: Arial,sans-serif;
  width: 30%;
  margin-left:35%;
  text-align: center;
  border-style: solid;
  border-color: white;
  border-width: 4px;
  margin-bottom: 1.2em;
  margin-top: 1.2em;
  padding-top: .7em;
  padding-bottom: .7em;
}

/*Styling for perspective on buttons*/
.easyButton {
  transform: perspective(200px) rotateY(-15deg);
}

.hardButton {
  transform: perspective(200px) rotateY(15deg);
}

/*Styling for hover over easy/hard buttons*/

h3:hover {
  background-color: white;
  color: black;
}

/*Styling for link covering easy/hard buttons*/

a {
  color: inherit;
  text-decoration: none;
}

/*Styling for animations*/

.floating{
	animation-name: floating;
	-webkit-animation-name: floating;

	animation-duration: 1.6s;
	-webkit-animation-duration: 1.6s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes floating {
	0% {
		transform: translateY(0%);
	}
	50% {
		transform: translateY(2%);
	}
	100% {
		transform: translateY(0%);
	}
}

@-webkit-keyframes floating {
	0% {
		-webkit-transform: translateY(0%);
	}
	50% {
		-webkit-transform: translateY(2%);
	}
	100% {
		-webkit-transform: translateY(0%);
	}
}

.tossing{
	animation-name: tossing;
	-webkit-animation-name: tossing;

	animation-duration: 1.6s;
	-webkit-animation-duration: 1.6s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes tossing {
	0% {
		transform: rotate(-.5deg);
	}
	50% {
		transform: rotate(.5deg);
	}
	100% {
		transform: rotate(-.5deg);
	}
}

@-webkit-keyframes tossing {
	0% {
		-webkit-transform: rotate(-.5deg);
	}
	50% {
		-webkit-transform: rotate(.5deg);
	}
	100% {
		-webkit-transform: rotate(-.5deg);
	}
}
